@model IEnumerable<Model.StudentView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllAsync</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateAsync")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                <a href="@Url.Action("GetAllAsync", new { sortBy = ViewBag.SortByFirstName } )" class="table-header">
                    FirstName @if (ViewBag.SortByFirstName == "name_asc")
                    {
                        <span>↑</span>
                    }
                    else if (ViewBag.SortByFirstName == "name_desc")
                    {
                        <span>↓</span>
                    }
                </a>
            </th>
            <th>
                <a href="@Url.Action("GetAllAsync", new { sortBy = ViewBag.SortByLastName } )" class="table-header">
                    LastName @if (ViewBag.SortByLastName == "surname_asc")
                    {
                        <span>↑</span>
                    }
                    else if (ViewBag.SortByLastName == "surname_desc")
                    {
                        <span>↓</span>
                    }
                </a>
            </th>
            <th>
                <a href="@Url.Action("GetAllAsync", new { sortBy = ViewBag.SortByDob } )" class="table-header">
                    DateOfBirth @if (ViewBag.SortByDob == "dob_asc")
                    {
                        <span>↑</span>
                    }
                    else if (ViewBag.SortByDob == "dob_desc")
                    {
                        <span>↓</span>
                    }
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                <a href="@Url.Action("GetAllAsync", new { sortBy = ViewBag.SortBySignUp } )" class="table-header">
                    RegisteredOn @if (ViewBag.SortBySignUp == "signup_asc")
                    {
                        <span>↑</span>
                    }
                    else if (ViewBag.SortBySignUp == "")
                    {
                        <span>↓</span>
                    }
                </a>
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredOn)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAsync", new { id = item.Id }) |
                @Html.ActionLink("GetOneById", "GetOneByIdAsync", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteAsync", new { id = item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
